/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

#testoAlternato {
  font-family: "Bree Serif", serif;
  display: flex;
  align-items: center;
  padding-left: 25px;
  width: 600px;
  height: 100px;
  border: 2px solid #000;
  margin: 20px;
}

i {
  color: #6a889c;
  position: absolute;
  opacity: 0;
  padding-left: 4px;
}

i:first-of-type {
  animation: parole 4s infinite;
}

i:nth-child(2) {
  animation: parole 4s infinite 2s;
}

/* i:nth-child(3) {
  animation: parole 4s infinite 4s;
} */

@keyframes parole {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(30px);
  }
}
