:root {
  --yellow: #f1f2bd;
  --green: #c6f4c6;
  --purple: #bab9d9;
}

body {
  background-color: #666666;
  font-family: "Indie Flower", cursive;
}

.postit-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  gap: 55px;
  height: 100vh;
}

.postit {
  width: 235px;
  height: 180px;
  box-shadow: 5px 3px 14px 1px rgba(0, 0, 0, 0.39);
  /*   box-shadow: inset 0px -12px 22px -1px rgba(0, 0, 0, 0.24); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postit::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    0deg,
    rgba(29, 33, 34, 0.5086367310596114) 0%,
    rgba(255, 255, 255, 0) 45%
  );
}

h2 {
  font-size: 2.2rem;
  font-weight: bolder;
  margin: 15px;
}

p {
  font-size: 1.5rem;
}

.p1 {
  background-color: var(--yellow);
  transform: rotate(-5deg);
  transition: all 500ms;

  animation: load 600ms;
  animation-fill-mode: backwards;
}

.p2 {
  background-color: var(--green);
  transform: rotate(5deg);
  transition: all 500ms;

  animation: load 600ms 700ms;
  animation-fill-mode: backwards;
}

.p3 {
  background-color: var(--purple);
  transform: rotate(-6deg);
  transition: all 500ms;

  animation: load 600ms 1s;
  animation-fill-mode: backwards;
}

.p4 {
  background-color: var(--green);
  transform: rotate(7deg);
  transition: all 500ms;

  animation: load 600ms 300ms;
  animation-fill-mode: backwards;
}

.p5 {
  background-color: var(--yellow);
  transform: rotate(5deg);
  transition: all 500ms;

  animation: load 600ms 100ms;
  animation-fill-mode: backwards;
}

.p6 {
  background-color: var(--purple);
  transform: rotate(-8deg);
  transition: all 500ms;

  animation: load 600ms 150ms;
  animation-fill-mode: backwards;
}

.p7 {
  background-color: var(--yellow);
  transform: rotate(-5deg);
  transition: all 500ms;

  animation: load 600ms 580ms;
  animation-fill-mode: backwards;
}

.p8 {
  background-color: var(--green);
  transform: rotate(5deg);
  transition: all 500ms;

  animation: load 600ms 135ms;
  animation-fill-mode: backwards;
}

/* Animazione hover */
.postit:hover {
  transform: rotate(0deg);
  transform: scale(1.2);
  box-shadow: 5px 5px 12px 6px rgba(0, 0, 0, 0.39);
}

@keyframes load {
  from {
    opacity: 0;
    transform: scale(2);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}
